#header-nav{
    background-color: lightgrey;
    border-bottom:1px solid black;
}

.navbar-brand h1{
    color:black;
    font-size:1.5em;
    font-weight:bold;
    text-shadow:1px 1px 1px #222;
    margin-top:0;
    margin-bottom:0;
    line-height: .75;
}

.navbar-brand a:hover{
    text-decoration: none;
}

#nav-lists li span{
    font-size:1.8em;
    color: black;
}
hr{
    border-top: 1px solid black;
}

.container{
    margin:0 10px;
}

main h1{
    font-size:2.5em;
    font-weight:bold;
    text-shadow: 1px 1px 1px #222;
    margin-top:0;
    margin-bottom:10px;
    line-height:.75;
    
}
.container{
    width:100%;
}
#chicken{
    padding-top:10px;
    
    margin:0 20px 0 -10px;;
    padding-left:10px;
    
    
    height:1000px;
    width:100%;
}
#chicken p:nth-child(1){
    margin-top:10px;
    font-size:1.4em;
    font-weight:bold;
    padding:20px 20px 10px 20px;
    margin:10px 20px 0 20px;
    
    background-color: lightgrey;
}
#chicken p:nth-child(2){
    
   
    padding:10px;
    margin:0 20px 0 20px;
    
    background-color: lightgrey;
    height:1000px;
}


